.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    animation-fill-mode: forwards;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.fadeOut{
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes fadeOut{
    from {opacity: 0.5;}
    to {opacity: 0;}
}