.contactName>p, .contactMessage>p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 5px;
}
.contactMessage{
    color: #8EB5F0;
}
.contactPic{
    background-color: #EAE9E9;
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.contactBlock{
    display: flex;
    margin: 5px;
    align-items: center;
}
.contactArrow{
    background-image: url('../images/contactArrow.svg');
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 10px;
}
.line{
    margin: 15px auto;
    width: 180px;
    border-bottom: 0.5px solid #DDDDDD;
}

.blured{
    filter: blur(4px);
}