.switch {
    width: 50px;
    height: 25px;
  }
  .themeArrowImage{
    background-image: url('../images/arrowBlack.svg');
    background-size:contain;
    width: 177px;
    height: 177px;
  }
  .changeThemeDesc{
    color: black;
    font-size: 20px;
    width: 200px;
    margin-top: 130px;
  }
  .changeTheme{
    display: flex;
    flex-direction: column;
  }
  .arrowPlacement{
    display: flex;
    flex-direction: row;
  }
  .posts{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 250px;
  }
  .postsDesc{
    color:#5280F5;
    width: 170px;
    font-size: 20px;
  }
  .postsArrowImage{
    background-image: url('../images/arrowDashed.svg');
    background-size:contain;
    width: 177px;
    height: 177px;
  }
  .themeFriends{
    display: flex;
    flex-direction: row;
  }
  .newFriendsDesc{
    margin-top:40px;
    color:#5280F5;
    width: 180px;
    font-size: 20px;
  }
  .newFriends{
    display: flex;
    margin-left:50px;
    margin-top:60px;
  }
  .newFriendsArrow{ 
    background-image: url('../images/arrowFriends.svg');
    background-size:contain;
    width: 177px;
    height: 177px;
  }
  .newFriendsSampleSearch{
    margin-top: 30px;
  }
  .postBlock{
    display: flex;
    flex-direction: row;
  }
  .postsField{
    
  }