@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,600;1,600&display=swap');
*{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.sign-buttons{
  display:flex;
  margin-top:5vh;
  margin-left:2vw;
}
.button{
  width:87px;
  height:40px;
  text-align:center;
  line-height:40px;
  border-radius:12px;
  font-family:'Jost';
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  margin-left: 2vw;
  user-select: none;
  box-shadow: 5px 5px 10px -8px rgba(0, 0, 0, 1);
}
.sign-up{
  background-color:#fff;
  transition: 0.3s;
}

.sign-up:hover{
  background-color: #f0f0f0;
}

.sign-in{
  background-color:#000;
  color:#fff;
  transition: 0.3s;
}

.sign-in:hover
{
  background-color:#2b2b2b;
  color:#fff;
}
