@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,600;1,600&family=Roboto:wght@500&display=swap');
.popup-box{
  z-index:99;
  position:absolute;
  background-color:#fff;
  width: 350px;
  height: 650px;
  display:flex;
  align-items:center;
  flex-direction:column;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-input>input[type="text"],input[type="password"]{
  margin:5% 0;
  border:none;
  border-bottom: 1px gray solid;
  background-color:transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}
.popup-input>input[type="submit"]{
  margin:15% 0;
  width: 150px;  
  height: 40px;
  background: #5280F5;
  border-radius: 15px;
  border:none;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color:#fff;
}
.popup-sign-text{
  margin: 20% 0;
  display:flex;
  justify-content:center;
  font-family: 'Roboto';
  font-style: normal;  
  font-weight: 500;
  font-size: 24px;
}
.popup-sign-text>p:last-child{
  color:gray;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}
.popup-box>hr{
  width:60%;
  margin: 40% 0 0 0;
}